{% extends 'store/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Home | Trang chủ{% endblock title %}
{% block content %}
    <!-- Carousel Start -->
    <div class="container-fluid mb-3">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#header-carousel" data-slide-to="1"></li>
                        <li data-target="#header-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item position-relative active" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="{% static 'store/img/background_1.jpg' %}" style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Chỉnh chu</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Chúng tôi cực kỳ chú trọng khâu đo lường kích cỡ và đường may, tất cả sản phẩm đều được thiết kế với độ tinh xảo cao, làm hài lòng khách hàng một cách tốt nhất.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item position-relative" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="{% static 'store/img/background_2.jpg' %}" style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Chi tiết</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Chi tiết nhỏ làm nên sự hoàn hảo. Chúng tôi lựa chọn từng chiếc cúc áo phù hợp với từng chất liệu và thiết kế. </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item position-relative" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="{% static 'store/img/background_3.jpg' %}" style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Chất liệu</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Chất liệu và thiết kế là cốt lõi tạo nên thương hiệu.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="product-offer mb-30" style="height: 200px;">
                    <img class="img-fluid" src="{% static 'store/img/offer_1.jpg' %}" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Giảm giá lên tới 10%</h6>
                        <h3 class="text-white mb-3">Valentine's Day</h3>
                    </div>
                </div>
                <div class="product-offer mb-30" style="height: 200px;">
                    <img class="img-fluid" src="{% static 'store/img/carousel-1.jpg' %}" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Hàng mới về</h6>
                        <h3 class="text-white mb-3">New Arrivals</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Sản phẩm chất lượng</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Miễn phí giao hàng</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Đổi trả trong 14 ngày</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Hỗ trợ 24/7</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->

    <!-- Products Start -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sản phẩm mới</span></h2>
        <div class="row px-xl-5">
            {% for promo in new_products %}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{ promo.image_product.url }}" alt="{{ promo.name }}">
                        <div class="product-action">
                            <form method="post" action="{% url 'cart:buy_now' promo.id %}">
                            {% csrf_token %}
                                <button class="btn btn-outline-dark btn-square" type="submit"><i class="fa fa-shopping-cart"><input type="hidden" name="quantity" value="1"></i></button>
                            </form>
                            <form method="post" action="{% url 'wishlist:add' %}">
                            {% csrf_token %}
                                <button class="btn btn-outline-dark btn-square" type="submit"><i class="far fa-heart"><input type="hidden" name="product_id" value="{{promo.id}}"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="text-center py-4" style="height: 200px">
                        <a class="h6 text-wrap text-decoration-none text-truncate" href="{% url 'store:detail' promo.id %}">{{ promo.name }}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>{{ promo.price|floatformat:0|intcomma }} VNĐ</h5>
                            {% if promo.price_origin %}<h6 class="text-muted ml-2"><del>{{ promo.price_origin|floatformat:0|intcomma }} VNĐ</del></h6>{% endif %}
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            {{ promo.star|safe }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Products End -->


    <!-- Offer Start -->
    <div class="container-fluid pt-5 pb-3">
        <div class="row px-xl-5">
            <div class="col-md-6">
                <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="{% static 'store/img/uniform-1.png' %}" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Đồng phục công sở</h6>
                        <h3 class="text-white mb-3">Hiện đại - Thanh lịch - Sang trọng</h3>
                        <a href="{% url 'store:contact' %}" class="btn btn-primary">Đặt ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="{% static 'store/img/uniform-3.png' %}" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">UNIFORM</h6>
                        <h3 class="text-white mb-3">Đặt trước để hưởng nhiều ưu đãi</h3>
                        <a href="{% url 'store:contact' %}" class="btn btn-primary">Liên hệ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Offer End -->

    <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <div class="bg-light p-4">
                        <img src="{% static 'store/img/anphuoc.png' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'store/img/biluxury.png' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'store/img/viettien.png' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'store/img/novelty.png' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'store/img/mattana.png' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'store/img/pierre.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->
{% endblock content %}