{% extends 'store/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Wishlist | Yêu thích{% endblock title %}
{% block content %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'store:index' %}">Trang chủ</a>
                    <span class="breadcrumb-item active">Danh sách yêu thích</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Wishlist Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-12 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Thêm vào giỏ hàng</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for w in wishlist %}
                            {% with product=w.product %}
                        <tr>
                            <td class="align-middle" style="line-height: 0px; text-align: left"><img src="{{ product.image_product.url }}" alt="{{ product.name}}" style="width: 50px">{{ product.name}}</td>
                            <td class="align-middle">{{ w.price|floatformat:0|intcomma }}</td>
                            <form method="post" action="{% url 'cart:buy_now' product.id %}">
                            {% csrf_token %}
                                <td class="align-middle"><button class="btn btn-sm btn-success" type="submit"><i class="fa fa-times"></i></button></td>
                            </form>
                            <td class="align-middle"><button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#sp{{ product.id }}"><i class="fa fa-times"></i></button></td>
                        </tr>
                        <div class="modal" tabindex="-1" id="sp{{ product.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Xóa sản phẩm</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Bạn có chắc muốn xóa sản phẩm <b>{{ product.name }}</b> ra khỏi danh sách không?</p>
                                </div>
                                <div class="modal-footer">
                                    <form method="post" action="{% url 'store:remove' product.id %}">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Không xóa</button>
                                        <button type="submit" class="btn btn-primary">Đồng ý</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Cart End -->
{% endblock content %}